Zylab.Interview.BinStorage/Zylab.Interview.BinStorage/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Zylab.Interview.BinStorage/Zylab.Interview.BinStorage.TestApp/obj/
Zylab.Interview.BinStorage/Zylab.Interview.BinStorage.Tests/obj/
Zylab.Interview.BinStorage/Zylab.Interview.BinStorage.v12.suo
